/* .bg-image {
    background-image: url('/assets/images/hotel.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh; /* Full screen } 
    */