
<h3>Displaying searched Users</h3>
<div *ngIf="userSearchList.length > 0" class="container col-md-8 d-flex justify-content-center">
  <table class="table table-dark col-sm-5">
    <thead>
      <tr>
        <th>Sl.No</th>
        <th>USERID</th>
        <th>EMAIL</th>
        <th>NAME</th>
        <th>PHONENUMBER</th>
        <th>PASSWORD</th>
        <th>DATECREATED</th>
        <th>USERROLE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userSearchList; index as i">
        <td>{{i + 1}}</td>
        <td>{{user.userId}}</td>
        <td>{{user.email}}</td>
        <td>{{user.name}}</td>
        <td>{{user.phoneNumber}}</td>
        <td>{{user.password}}</td>
        <td>{{user.dateCreated | date: 'short'}}</td>
        <td>{{user.userRole}}</td>
      </tr>
    </tbody>
  </table>
</div>