<h2>Login Page</h2>

<div class="container col-lg-4">
  <form #formData="ngForm" (ngSubmit)="readFormData(formData)">
    <div class="form-group">
      <label for="exampleInputEmail1">UserName</label>
      <input type="username" class="form-control" name="username" required #username="ngModel" ngModel>
      <small id="userHelp" class="form-text text-muted">We'll never share your user details with anyone else.</small><br>
      <span style="color:red" *ngIf="username.touched && username.invalid">UserName is required</span>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password" required #pwd="ngModel" ngModel>
      <span style="color:red" *ngIf="pwd.touched && pwd.invalid">Password is mandatory</span>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="formData.invalid">Submit</button>
  </form>
</div>
<h3>Update Password</h3>

<div class="container col-md-6 mt-4">
  <!-- Form for Updating Password -->
  <form #updatePasswordForm="ngForm" (ngSubmit)="updatePassword(oldPassword.value, newPassword.value)">
    <div class="form-group mb-3">
      <label for="oldPassword">Old Password</label>
      <input 
        type="password" 
        id="oldPassword" 
        name="oldPassword" 
        #oldPassword="ngModel" 
        ngModel 
        class="form-control" 
        required>
      <div *ngIf="oldPassword.invalid && oldPassword.touched" class="text-danger">
        Old Password is required.
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="newPassword">New Password</label>
      <input 
        type="password" 
        id="newPassword" 
        name="newPassword" 
        #newPassword="ngModel" 
        ngModel 
        class="form-control" 
        required 
        minlength="6">
      <div *ngIf="newPassword.invalid && newPassword.touched" class="text-danger">
        New Password is required and must be at least 6 characters.
      </div>
    </div>

    <button 
      type="submit" 
      class="btn btn-primary w-100" 
      [disabled]="updatePasswordForm.invalid">
      Update Password
    </button>
  </form>
</div>
